
.scroll-y {
    overflow-y: auto;
    height: 100px;
}

.box-scroll {
    overflow-y: auto;
    height: 100px;
    margin-top: 10px;
}

.box-top-margin {
    margin-top: 10px;
}

.scroll-x {
    overflow-x: auto;
    width: auto;
}

.align-center {
    align-content: center;
}

.select-width {
    width: 100px !important;
}

.top-padding {
    margin-top: 20px;
}

.filters-panel {
    height: 100px;
}

.table.table-font {
    font-size: small;
}

.side-margin {
    margin-left: 5px;
}

.display-empty {
    empty-cells: show;
}

.table .is-scrollable .tbody {
    overflow-y: scroll;
    width: auto;
    position: absolute;
}

.category {
    background: #C0C0C0;
    font-weight: bolder;
}

.indicator {
    font-weight: normal;
}

.spinner-background {
    background-color: #9e4f00;

}
















